.vs/
.vscode/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
*.sln
*.csproj
*.meta
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties